<div class="container">
  <h1>Habilidades</h1>
  <!-- Botón para cargar habilidades -->
  <button class="btn btn-primary mb-4" (click)="loadSkills()">Cargar Lista de Habilidades</button>

  <div *ngIf="skills.length > 0">
    <div *ngFor="let skill of skills" class="mb-4">
      <h5>{{ skill.name }}</h5>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          [ngClass]="getBarClass(skill.proficiencyLevel)"
          [style.width]="getWidth(skill.proficiencyLevel)"
        >
          {{ skill.proficiencyLevel }}
        </div>
      </div>
    </div>
  </div>
  
  <!-- Mensaje cuando no hay habilidades disponibles -->
  <p *ngIf="skills.length === 0" class="text-muted">No hay habilidades disponibles. Por favor, cárguelas.</p>
</div>


